@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .list-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .list-scrollbar::-webkit-scrollbar-track {
    background: #b3b3b3;
    border-radius: 20px;
  }
  .list-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a88268;
    border-radius: 20px;
  }
}
